name: Deploy Dashboard to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Deploy via SSH
      uses: appleboy/ssh-action@v0.1.6
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_SSH_KEY }}
        port: 22
        script: |
          cd /var/data-visualization-al-baleed-resoty
          git reset --hard
          git pull origin main
          /var/data-visualization-al-baleed-resoty/venv/bin/pip install --upgrade -r requirements.txt
          sudo systemctl restart al-baleed-dashboard
